{
  "hard_coded_contacts": [
    {
      "tcp_acceptors": [
        "37.139.22.109:15483"
      ],
      "tcp_mapper_servers": []
    }
  ],
  "enable_tcp": true,
  "enable_utp": true,
  "tcp_acceptor_port": 15483,
  "service_discovery_port": null,
  "bootstrap_cache_name": null,
  "tcp_mapper_servers": [ ]
}
