{
  "hard_coded_contacts": [
    {
      "tcp_acceptors": [
        "46.101.82.42:5483"
      ],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "139.59.174.99:5483"
      ],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "139.59.173.133:5483"
      ],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "139.59.173.198:5483"
      ],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "139.59.171.74:5483"
      ],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "139.59.163.140:5483"
      ],
      "tcp_mapper_servers": []
    }
  ],
  "tcp_acceptor_port": 5483,
  "service_discovery_port": null,
  "bootstrap_cache_name": null,
  "tcp_mapper_servers": [
    "162.243.228.81:39590",
    "128.199.185.249:44473",
    "178.62.82.189:46782"
  ]
}